<%= simple_form_for @cocktail do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :img_url %>
  <% if @cocktail.valid? %>
    <p>Ingredients :</p>
      <% @cocktail.doses.each do |dose| %>
        <p class="d-flex justify-content-between">
          <span><%= dose.ingredient.name %>: <%= dose.description %> </span>
          <span><%= link_to 'ðŸ—‘ï¸', cocktail_dose_path(@cocktail),
                                  method: :delete,
                                  data: { confirm: "Are you sure?" } %></span>
        </p>
      <% end %>
      <%= link_to 'Add Ingredient', new_cocktail_dose_path(@cocktail), class: "btn btn-secondary btn-sm" %>
  <% end %>
  <div class="my-3"></div>
  <%= f.button :submit, class: "btn btn-primary btn-lg" %>
<% end %>
